<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Author: Fellipe Gomes Versiani">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>

    <!-- Modal -->
    <div class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="dialog__title"
        aria-describedby="dialog__content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="dialog__title"></h2>
                <div class="mdc-dialog__content" id="dialog__content">
                    <table>
                        <thead id="thead-standings">
                            <tr>
                                <th>Posição</th>
                                <th>Time</th>
                                <th>Vitórias</th>
                                <th>Empates</th>
                                <th>Derrotas</th>
                                <th>Pontos</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-standings">
                        </tbody>
                    </table>
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <span class="mdc-button__label">Fechar</span>
                    </button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>

    <div class="l-wrapper">

        <header class="l-header">
            <div>Teste Técnico Full-Stack Developer: Football API</div>
            <div>Fellipe Versiani</div>
            <div class="header__linkedin"> <a href="https://www.linkedin.com/in/f3llps/" target="_blank"
                    rel="noopener">Linkedin </a></div>
        </header>

        <aside class="l-aside">
            <div class="aside__search-bar">
                <div
                    class="    mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon textfield-search-bar">
                    <i class="material-icons mdc-text-field__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    </i>
                    <input class="mdc-text-field__input">
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label class="mdc-floating-label">Insira o código ou nome da competição</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
            </div>
        </aside>

        <main class="l-competitions"></main>

        <footer class="l-footer"></footer>

    </div>

</body>

</html>